
{% extends "site_template.html" %}




{% block body_content %}

<style type="text/css">
.page_headline_bar{
    font-size: 1.7em;padding:16px 0;border-top: 2px solid #ddd;border-bottom: 2px solid #ddd;
    background-color:#f5f5f5;
}
.headline_subtitle{font-size: 0.6em;}
.team_members{padding:20px 0; min-height: 440px;}
.member_profile{min-height: 80px;line-height: 24px;}
.member_pic{float:left;margin-right: 8px;}
.member_pic img{width:49px;border-radius: 6px;}
.member_name{font-weight: bold;display: inline-block;}
.member_title{display: inline-block;color:#555;}

.question_list{margin-bottom: 40px;background-color: #f5f5f5;}
.question{font-weight: bold;font-size: 1.1em;margin:6px 0;}
.answer{}
.question_block{padding:14px 28px;border-bottom:8px solid #fff;}
.question_block::last-child{border-bottom:none;}
</style>

<div class="page_headline_bar">
    <div class="container">
        <div>
            FAQ
        </div>

    </div>
</div>

<div class="container">
<div class="container question_container">

    <h4>ABOUT THE FUND</h4>

    <div class="question_list">
        <div class="question_block">
            <div class="question">Who is the management team of HONG? Who will select the management team?</div>
            <div class="answer">
                The management team liaises the communication among all stakeholders of HONG and executes the fund according to HONG token holders' collective decisions. Currently there is only a team as designer of HONG, not functioning as the management team. When the HONG fund is operating in shape, the management team is to be elected by the HONG token holders.
                <br/><br/>
                As to the team of designers of HONG, more info can be found in our
                <a href="https://www.youtube.com/channel/UCfPwvDLNFgJ8n70RI65hwKA" target="_blank">
                    YouTube Channel
                </a> and <a href="/team">Team</a> page

            </div>
        </div>

        <div class="question_block">
            <div class="question">If I invest in HONG, will my fund be locked during HONG's 4-year lifecycle?</div>
            <div class="answer">
                During the ICO stage, a HONG token holder is able to withdraw the investment. After ICO ends and the funds start operating, HONG token holders will be able to vote for freezing the fund in order to get the investment back. They will also be able to transfer the tokens among each other. There is no "lock" of token holders' fund in HONG's lifecycle.

            </div>
        </div>

        <div class="question_block">
            <div class="question">How is 51% attack avoided in HONG?</div>
            <div class="answer">
                There is possibility of 51%, if anyone invests over half of the final size of HONG. But it is not regarded as an attack. Instead, as well as other HONG token holders, the one who intends to make such investment is putting his/her position into the same place considering the potential ROI of HONG.

            </div>
        </div>

        <div class="question_block">
            <div class="question">If HONG token holders vote to freeze the fund and the remaining of the fund is proportionally returned, what happens to the ETH that has been invested into some projects?</div>
            <div class="answer">
                Freeze is meant to be an extraordinary measure to cancel an engagement abruptly. In this case, some returns may not be collected back. There could be some feasible offline solutions to help with collecting them back, yet it is up to the HONG token holders' decision.

            </div>
        </div>

        <div class="question_block">
            <div class="question">Are there example of projects/companies interested to get funded by HONG?</div>
            <div class="answer">
                In HONG's whitepaper there are a few categories mentioned that HONG is visioning: Future Tech/Art & Creative Works/Education. Yet as wishes of the design team it is not a strict policy that HONG will abide with. HONG is open in its nature, so it is open on what projects will be invested as well. Any project that could bring value to the future of the human society would be what HONG is interested in.
            </div>
        </div>

    </div>

    <h4>ABOUT THE ICO</h4>

    <div class="question_list">

        <div class="question_block">
            <div class="question">How long does the ICO last?</div>
            <div class="answer">
                HONG's ICO lasts firstly for 30 days (<u>from August 29, 2016 to September 28, 2016</u>), by the end of which the total token number will be checked. If the minimum target of issuing is not met, the ICO will be extended for another 30 days to <u>October 28, 2016</u>.
            </div>
        </div>

        <div class="question_block">
            <div class="question">Is there a target number of issuing?</div>
            <div class="answer">
                We set a minimum target of issuing <u>150M</u> of HONG tokens considering to sustain healthy operation of the fund. We also set a maximum target at <u>250M</u> tokens to ensure the fund is under control. More info about the ICO terms can be found on our <a href="https://github.com/hongcoin/DO/wiki/ICO-Period-and-Target" target="_blank">wiki page</a>.
            </div>
        </div>

        <div class="question_block">
            <div class="question">What wallets can I use to participate the ICO of HONG?</div>
            <div class="answer">
                We validated successful transactions thru the Ethereum Wallet, Mist, and MyEtherWallet. The step-by-step instructions are included in "How to Participate". In order to invoke relevant functions from the HONG contract as a HONG token holder, the Ethereum Wallet or Mist is recommended.
            </div>
        </div>

        <div class="question_block">
            <div class="question">Does HONG support ETC?</div>
            <div class="answer">
                Not at this moment. We have received abundant inquiries and questions as to HONG supporting ETC. We are grateful to all the interest and help from the community and we will look into the possibility of supporting ETC.
            </div>
        </div>

    </div>






</div>
</div>

{% endblock %}



{% block body_footerscript_content %}





{% endblock %}

