
{% extends "site_template.html" %}


{% block body_content %}

<style type="text/css">
.ico_announcement{
    color:#555;
    font-size: 0.6em;
    line-height:
}
.ico_announcement p{
    margin:30px 2px;
}

</style>


<div class="home_background full_block" style="min-height:680px;">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">

                <div class="section ico_section">
                    <div class="section_item"><div class="section_item_inner">
                        <div class="section_announcement">The closure of ICO<br/>
                        <div class="ico_announcement">

<p>Dear HONG investors and supporters,</p>

<p>
It has been a great month since we started HONG ICO and we have received a lot of resonates from community, including real funding to our smart contract.</p>

<p>
Based on our design, the experiment of smart contract as first venture capital fund on cryptocurrency has been very successful to test its feasibility and security. And of course, there are definitely some limitations and lessons we learnt.  However, to HONG team, there is a longer and higher goal in front of us, so we decide to pause HONG’s fund raising here and will not extend ICO even the contract has 2nd extension period. </p>

<p>
We hope you also enjoyed this journey with us and please follow the instruction of "<a href="https://medium.com/@hongcoin/how-to-get-refund-from-hong-3498672db6fb#.mkw1vb87z" target="_blank" style="color:#555">HOW TO REFUND</a>" to have your investment refunded in HONG contract.  If you encounter any issue for your refund, please email us (<a href="mailto:hongcoin@hongcoin.org" class="download_json">hongcoin@hongcoin.org</a>) with details of the issue and your wallet address. We will respond to you as soon as possible.  </p>

<p>
We will be back soon to present you a bigger project based on this profound experience.
</p>

<p>Best regards</p>

<p>Project HONG Team<br/>
September, 29, 2016</p>

                        </div>


                    </div></div>
                </div>
            </div>

        </div>
    </div>



</div>
<div style="height:60px;"></div>


{% endblock %}






{% block body_footerscript_content %}

{% endblock %}
