<!doctype html>
<html>
<head>
    <title>HONG - Your decentralized venture fund</title>

<meta name="viewport" content="width=device-width, initial-scale=0.7">

<link href='//fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>

<link rel="stylesheet" href="/style/v1.css">



{% block head_content %}{% endblock %}


</head>
<body>


{% block body_header_content %}

<div class="header_div container">

    <div class="header">
        <ul class="logo_ul">
            <li>

                <a href="/"><img src="/images/logo.png" class="logo" /></a>
                <div class="headline">
                    <div class="headline_text">Your decentralized venture fund</div>
                </div>

            </li>
        </ul>

        <ul class="top_navbar">
            <a href="https://github.com/hongcoin/DO/wiki" target="_blank"><li>Introduction</li></a>

            <a href="/contract"><li>Source Code</li></a>
            <a href="https://medium.com/@hongcoin/hong-coin-a-post-dao-organization-on-blockchain-cf88605cede5#.5eeowajbh" target="_blank"><li>The Whitepaper</li></a>
            <!--
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScTeT5Sy5-hup_JipuhcaN9DogTdFL7d2OIhxqJGG1zEIL3xg/viewform" target="_blank"><li>Register</li></a>
            -->
        </ul>

        <ul class="link_bar">
            <!--
            <a href="https://medium.com/@hongcoin/how-to-participate-ico-of-hong-a2829aedef83#.e6azb5yy4" target="_blank" class="waves-effect waves-light btn orange accent-3" >How to participate</a>
            -->
            <a href="https://medium.com/@hongcoin/how-to-get-refund-from-hong-3498672db6fb#.mkw1vb87z" target="_blank" class="waves-effect waves-light btn orange accent-3" >How to refund </a>
        </ul>

    </div>
</div>

{% endblock %}


{% block body_content %}{% endblock %}



{% block body_footer_content %}


<div class="full_block footer_block">
    <div class="container">

        <nav>
            <div class="nav-wrapper">
                &copy; 2016 hongcoin.org  All rights reserved.
                <ul class="links_ui">
                    <li><a href="http://slack.hongcoin.org/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                    <li><a href="https://medium.com/@hongcoin" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/hongcoins" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/hongcoin" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:hongcoin@hongcoin.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>

    </div>
</div>

{% endblock %}



{% block body_footerscript_content %}

{% endblock %}



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78257027-3', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
