
# Copy this file to config.py and edit the values based on your database configuration

API_SERVER_HOSTNAME = ""  # SERVER_IP_ADDRESS OR SERVER_HOSTNAME

MYSQL_DB_CONFIG_APP_ENGINE = {
    'host': '127.0.0.1',
    'port': 3306,
    'user': 'root',
    'password': '',
    'database': 'hongcoin',
    'charset': 'utf8',
}

MYSQL_DB_CONFIG_LOCALHOST = {
    'host': '127.0.0.1',
    'port': 3306,
    'user': 'root',
    'password': '',
    'database': 'hongcoin',
    'charset': 'utf8',
}
